@media only screen and (max-width: 1680px) {
	.layout-footer {
		bottom: 30px;
		left: 30px;
		right: 30px;
		
		&__wrapper {
			padding: 25px;
		}
	}

	.side {
		&__content {
			padding: 30px;
		}
	}
}

@media only screen and (max-width: 1600px) {
	.layout-footer {
		height: auto;
		
		&__bottom {
			clear: both;
			height: auto;
		}
		
		&__item {
			
			&_address {
				clear: both;
				float: none;
				display: block;
			}
		}
	}
}

@media only screen and (max-width: 1550px) {
	.logo_suschevsky {
		left: 50px;
		margin-left: 0;
	}
}

@media only screen and (max-width: 1330px) {
	.logo_suschevsky {
		left: 30px;
	}

	.layout-header {
		&__about {
		    max-width: 92.2%;
			right: 12px;
		}
	}

	.layout-footer {
		&__header {
			font-size: 3.2rem;
		}
	}
}