@media only screen and (max-width: 768px) {
	.layout-header {
		&__about {
			display: none;
		}
	}

	.side {
		&_left, &_right {
			border-top: 0;
			border-bottom: 8px solid $border-color !important;
		}

		&_bottom {
			display: block;
		}
	}
}