@media only screen and (max-width: 960px) {
	body {
		overflow: auto;
	}

	.about {
		&__border {
			top: 69px;
		}
		
		&__content {
			height: 280px;
			overflow: scroll;
		}
	}

	.layout-wrapper {
		min-height: 100%;
		height: auto;
	}

	.layout-footer {
		display: none;
	}

	.layout-header {
		height: 7.5rem;

		&__logo {
			top: 10px;
		}

		&__lang {
			display: none;
		}
		
		&__phone, &__address {
			display: block;
		}
	
		&__backuri {
			&.active {
				display: none;
			}
		}

		&__about {
			max-width: 80%;
			right: 82px;
			top: 5px;
			padding: 10px 10px 0 0;
		}
	}
	
	.logo {
		left: 30px;
		margin-left: 0;
	}

	.side {
		eight: 400px;
		border: 0;

		&__content {
			height: 400px;
		}

		&_left, &_right {
			width: 100%;
			float: none;
			clear: both;
		}

		&_left {
			border-bottom: 4px solid $border-color;
		}

		&_right {
			border-top: 4px solid $border-color;
		}
	}
}