<header class="layout-header js-header" itemscope="itemscope" itemtype="http://schema.org/WPHeader">
	
	<a href="" class="layout-header__logo logo logo@@addclass"></a>
	
	<a href="#" class="layout-header__backuri layout-header__backuri@@addclass js-backuri">Вернуться назад</a>

	<a href="tel:@@phone" class="layout-header__phone">звонок</a>
		
	<span data-token="@@map_link" data-container="@@map_container" data-another="@@another_container" class="layout-header__address js-load-map">
		<span class="layout-header__address__arrow">@@address</span>
	</span>

	@@if (lang == true)
	{
	<a href="" class="layout-header__lang en">
		<span class="layout-header__lang__selected">English</span>
	</a>
	}

	@@if (about == true)
	{
	<div class="layout-header__about about js-about clearfix">
		<span class="about__trigger js-trigger">
			<span class="about__trigger__drop">о компании</span>
		</span>

		<div class="about__border"></div>

		<div class="about__content">
			<h3 class="about__title">Моспромстрой Отель Менеджмент</h3>

			<p>Гостиницы находится в собственности ПАО «МОСПРОМСТРОЙ», эксплауатируются ООО «МОСПРОМСТРОЙ ОТЕЛЬ МЕНЕДЖЕМЕНТ» на основании лицензии от Six Continents Hotels, Inc., под управлением «ИНТЕРСТЕЙТ МЕНЕДЖМЕНТ СЕРВИСЕЗ, ИНК.»</p>
			<p>Основной государственный регистрационный номер (ОГРН) 1047796558490.</p>
		</div>
	</div>
	}

</header>